/*Estilos del contendor principal*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif !important;
}

.loginContainer{
    width: 80%;
   margin: 0 auto;
   margin-top: 50px;
  
   border: 1px solid gray;
   border-radius: 15px;
}

/*Estilos del contenedor de imagenes*/
.leftContainer{
    background-image: url('https://img.freepik.com/free-vector/code-typing-concept-illustration_114360-3581.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Estilos del contendor derecho del formulario*/
.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #58D68D  ;
    color: white;
}

.rightContainer img{
    width: 200px;
}

/*---------------DISEÑO RESPONSIVE---------------*/
@media (max-width: 720px) {
    .leftContainer {
      display: none;
    }
    .loginContainer{
      
     margin-top: 50%;
   
  }
  }